*::after {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(251, 253, 196);
}

.container {
    width: 800px;
    height: 400px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 20px;
    box-shadow: 8px 12px #b4b4b4;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(auto);
    gap: 40px;
    margin-top: 115px;
}

.btn {
    padding: 9px 10px;
    box-shadow: 6px 6px #b4b4b4;

}